body {
  background-image: url(https://images.pexels.com/photos/4386476/pexels-photo-4386476.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-size: cover;
  color:antiquewhite;
  text-shadow: black;
  box-sizing: border-box;
}

.container {
  background: rgba(255, 255, 255, .5);
  box-shadow: 0 15px 20px rgba(0, 0, 0, .5);
  padding: 20px;
  padding-bottom: 25px;
  margin-top: 20px;
  border-radius: 3px;
  background-color:gray;
  opacity: 80%;
  text-shadow: black;
  border-radius: 25px;
}

.cashtypes {
  height: 200px;
  width: 240px;
}